{% extends 'base.html.twig' %}

{% block body %}
    <h2>Title de l'article</h2>
    <div class="container">
        <div class="row">
           <div class="col-md-3">
            <article>
            <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans 
                la catégorie Politique</div>
                <div class="content">
                    <img src="" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate maxime, hic doloremque architecto doloribus ad fuga atque repellendus cumque aliquid illum eveniet vel 
                    reprehenderit ipsa non, nesciunt autem voluptatem asperiores.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate maxime, hic doloremque architecto doloribus ad fuga atque repellendus cumque aliquid illum eveniet vel 
                        reprehenderit ipsa non, nesciunt autem voluptatem asperiores.</p>
                        <a href="" class="btn btn-primary">Lire la suite</a>
                </div>
            </article>
           </div> 
           <div class="col-md-3">
            <article>
            <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans 
                la catégorie Politique</div>
                <div class="content">
                    <img src="" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate maxime, hic doloremque architecto doloribus ad fuga atque repellendus cumque aliquid illum eveniet vel 
                    reprehenderit ipsa non, nesciunt autem voluptatem asperiores.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate maxime, hic doloremque architecto doloribus ad fuga atque repellendus cumque aliquid illum eveniet vel 
                        reprehenderit ipsa non, nesciunt autem voluptatem asperiores.</p>
                        <a href="" class="btn btn-primary">Lire la suite</a>
                </div>
            </article>
           </div> 
           <div class="col-md-3">
            <article>
            <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans 
                la catégorie Politique</div>
                <div class="content">
                    <img src="" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate maxime, hic doloremque architecto doloribus ad fuga atque repellendus cumque aliquid illum eveniet vel 
                    reprehenderit ipsa non, nesciunt autem voluptatem asperiores.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate maxime, hic doloremque architecto doloribus ad fuga atque repellendus cumque aliquid illum eveniet vel 
                        reprehenderit ipsa non, nesciunt autem voluptatem asperiores.</p>
                        <a href="" class="btn btn-primary">Lire la suite</a>
                </div>
            </article>
           </div> 
           <div class="col-md-3">
            <article>
            <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans 
                la catégorie Politique</div>
                <div class="content">
                    <img src="" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate maxime, hic doloremque architecto doloribus ad fuga atque repellendus cumque aliquid illum eveniet vel 
                    reprehenderit ipsa non, nesciunt autem voluptatem asperiores.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate maxime, hic doloremque architecto doloribus ad fuga atque repellendus cumque aliquid illum eveniet vel 
                        reprehenderit ipsa non, nesciunt autem voluptatem asperiores.</p>
                        <a href="" class="btn btn-primary">Lire la suite</a>
                </div>
            </article>
           </div> 
        </div>
    </div
    >
{% endblock %}